*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

img{
    max-width: 100%;
}

/* Common Styles */
.common-btn{
    background-color: #FD6E0A;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}
.outline-btn{
    border: 1px solid #FD6E0A;
    background-color: #FFF8F3;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
    color: #FD6E0A;
    /* border: none; */
    cursor: pointer;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* Common Styles End */

header{
    background-color: #FFF8F3;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    
    padding: 8px 0;
    
}

.nav-item a{
    color: #474747;
}

.nav-left-text{
    font-size: 28px;
    font-weight: bold;
}

.r{
    color: #FD6E0A;
}

.nav-right{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
    align-items: center;
}

.nav-right a{
    text-decoration: none;
}

/* Hero Section */
#parent{
    background-color: #FFF8F3;
}

#hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.left-hero h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.left-hero p{
    font-size: 26px;
    font-weight: 600;
}

.left-hero .hero-des{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.right-hero{
    position: relative;
    background-image: url(./images/header_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 380px;
    width: 500px;
}

.man{
    position: absolute;
    right: 30px;
    
}

/* About Section Start */
#about{
    background-color: #FFF8F3;
    margin-top: 85px;
}

.about-container{
    
}

.about-center{
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-center h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-center p{
    font-size: 15px;
    color: #474747;
}

.data{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
    /* align-items: center; */
    margin-bottom: 45px;
    padding-bottom: 50px;
}

/* What I section start */
#what{
    margin-top: 80px;
    
    
}
.what-text{
    text-align: center;
}

.what-text h2{
    margin-bottom: 40px;
}

.what-text p{
    margin-bottom: 40px;
}

.what-container{
    padding:68px ;
}

.card-container{
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
}

.box{
    border: 1px solid #FD6E0A;
    text-align: left;
    padding: 15px;
    border-radius: 15px;
}

.box img{
    margin-bottom: 15px;
}

.box h2{
    margin-bottom: 13px;
}

.box p{
    color: #474747;
}

/* What I section end */

/* My Resume Section Start */


/* My Resume Section End */

/* Amazing work section start  */
#amazing{
    text-align: center;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    gap: 18px;
    grid-auto-rows: 150px;
    grid-template-areas: 
    "one two three"
    "four two six"
    "four five six"
    ;
}

.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pic-1{
    grid-area: one;
}
.pic-2{
    grid-area: two;
}
.pic-3{
    grid-area: three;
}
.pic-4{
    grid-area: four;
}
.pic-5{
    grid-area: five;
}
.pic-6{
    grid-area: six;
}


/* Amazing work section end  */
